@media screen and (max-width: 900px) {
  .Top-div,
  .Bottom-div {
    width: 150%;
    margin-left: 9px;
    align-items: center;
    display: flex;
  }

  .Nvb-nd button {
    width: 30%;
  }

  .Nvb-nd .Btn-middle-1 {
    left: 12%;
    top: 50.5%;
    width: 25%;
    opacity: 70%;
  }

  .Nvb-nd .Btn-middle-2 {
    left: 62%;
    top: 50.5%;
    width: 25%;
    opacity: 70%;
  }

  .Nvb-nd .Btn-middle-3 {
    left: 10%;
    top: 70%;
    width: 25%;
    opacity: 85%;
  }

  .Nvb-nd .Btn-middle-4 {
    left: 62%;
    top: 70%;
    width: 25%;
    opacity: 75%;
  }

}

.Top-div img {
  margin-top: 60px;
}
.Bottom-div img {
  margin-top: 30px;
}
.Btn-middle-1 {
  position: absolute;
  top: 50%;
  right: 59%;
  opacity: 65%;
  display: inline-block;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #000000;
  text-align: center;
  width: 270px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
}
.Btn-middle-2 {
  position: absolute;
  top: 50%;
  right: 28%;
  opacity: 65%;
  display: inline-block;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #000000;
  text-align: center;
  width: 270px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
}
.Btn-middle-3 {
  position: absolute;
  top: 89%;
  right: 59%;
  opacity: 65%;
  display: inline-block;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #000000;
  text-align: center;
  width: 270px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
}
.Btn-middle-4 {
  position: absolute;
  top: 89%;
  right: 28%;
  opacity: 65%;
  display: inline-block;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #000000;
  text-align: center;
  width: 270px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
}
.Btn-middle-1:hover,
.Btn-middle-2:hover,
.Btn-middle-3:hover,
.Btn-middle-4:hover {
  transform: scale(1.25);
  cursor: pointer;
}
.Logo-menu {
  width: 55%;
}
