@media screen and (max-width : 1212px){

    .Contents-Img img{
        display: none;
    }
    .Nvb-nd button{
        height: 70px;
        width: 150px;
    }

    .Desc{
        display: flex;
        flex-direction: column;
    }


    .Desc img{
        width: 80%;
        height: 80%;
        margin-left: 35px;
    }

    .Txt{
        margin: 20px;
        text-align: left;
    }
    
}


.Nd-Menu{
    width: 92%;
    margin-left: 4%;
    justify-content: space-between;
}
.Logo{
    width: 180px;
    height: 110px;
}

.Nvb{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.Nvb-nd{
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-left: 7%;
    margin-top: 25px;
}

.Btn{
    border-radius: 20px;
    border-color: aliceblue;
    width: 150px;
    height: 40px;
    /* Boutton navbarre */
}

.Btn-nd{
    border-radius: 20px;
    border-color: aliceblue;
    width: 150px;
    height: 40px;
}

.Contents-Img{
    width: 75%;
    display: flex;
    justify-content: space-between;

}

.Txt{
    font-size: 10px;
    color: #000000;
    margin-top: 55px;
    font-family: system-ui;
}

.Img{
    height: 400px;
    width: 400px;
    border-radius: 50px;

}
