@media screen and (max-width: 1212px) {
    
}
.contact input{
    border-radius: 20px;
}

.contact_form{
    height: 500px;
    display: flex;
    background-color: green;
    justify-content: space-between;
    text-align: center;
}

.Top-sexion{
    margin-right: 50px;
}

.contact_form{
    display: flex;
    flex-direction: column;
}
.Input-sexion{
    width: 300px;
}
