@media screen and (max-width: 1212px) {
  .IMG {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  .IMG img {
    margin-top: 50px;
    width: 400px;
    height: 200px;
    border-radius: 25px;
  }
}
