@media screen and (max-width: 1212px) {
  .Btn {
    display: none;
  }
  .Nvb{
    display: none;
  }
  img{
    display: none;
  }
}

.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.Nvb {
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 0 auto;
}

.Btn:hover {
  border: 10px double #000000;
  cursor: pointer;
  transition: all 0.5s;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
  color: black;
  text-align: center;
  background-color: rgb(49, 38, 93);
}

.Btn {
  background-color: #6675ca;
  width: 270px;
  height: 40px;
  opacity: 65%;
}

.Burger {
  display: block;
}
