@media screen and (max-width: 390px) {
  .Nvb-nd button {
    width: 75px;
    height: 75px;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.Global_Realisations {
  margin-top: 30px;
}

.content video {
  width: 80%;
  margin: 15px auto 0;
  border-radius: 5%;
}
.Btn-Réa {
  border-radius: 20px;
  border-color: aliceblue;
  width: 150px;
  height: 40px;
}
