@media screen and (max-width: 940px) {
  .Nvb-nd button {
    width: 75px;
    height: 75px;
  }

  .content video {
    width: 80%;
  }
}

.Global_Realisations {
  margin-top: 30px;
}

.Btn-Réa {
  border-radius: 20px;
  border-color: aliceblue;
  width: 125px;
  height: 40px;
}
.content video {
  margin-top: 20px;
  width: 100%;
}
.content {
  width: 400px;
  margin: auto;
  justify-content: center;
}

.Nvb {
  display: flex;
}

.Nvb-nd {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
