@media screen and (max-width: 390px) {
  .Nvb-nd button {
    width: 75px;
    height: 75px;
  }

  video {
    width: 20%;
  }
}

.Global_Realisations {
  margin-top: 30px;
}

.content video {
  width: 500px;
  height: 300px;
  margin: 15px auto 0;
  margin-right: 50px;
}

.Btn-Réa {
  border-radius: 20px;
  border-color: aliceblue;
  width: 150px;
  height: 40px;
}
