@media screen and (max-width: 900px) {
  .Middle {
    flex-direction: column;
  }
  .Middle p {
    font-size: 2vmin;
  }
}

.Content img {
  width: 35%;
}
.IMG1,
.IMG2 {
  margin-top: 40px;
  margin: 2%;
}
.IMG3 {
  float: left;
  margin-left: 5%;
  width: 25%;
}

.Middle p {
  color: #ffffff;
  font-family: system-ui;
  margin-left: 2%;
  margin-right: 2%;
  font-weight: 100;
  font-size: 3vmin;
}
.Galerie {
  margin: 2%;
  justify-content: center;
}
.VIDE {
  height: 100px;
}
.Content {
  margin-top: 5%;
}
.Middle p,
.Middle {
  margin-top: 5%;
  display: flex;
  align-items: center;
}
