@media screen and (max-width: 1212px) {
}

.App {
  text-align: center;
}

.App-logo {
  width: 200px;
  height: auto;
  pointer-events: none;
}

.Icons {
  max-width: 25px;
}

.Txt {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
}

.Grande-div {
  background-color: gray;
}

.Contenaire-Images {
  display: flex;
  justify-content: space-between;
  margin-left: 10.5%;
}

.besoin-logo {
  border-radius: 50px;
}

.Support-links {
  position: absolute;
  bottom: 0;
}

.body {
  margin-top: 50px;
}
/* GLOBAL */

body {
  background: #1e2449;
}
h1 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
}

h3 {
  font-weight: 100;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

pre {
  color: white;
}

hr {
  margin-top: 30px;
}
