@media screen and (max-width: 900px) {
  .Carousel {
    margin-top: 40%;
  }
}

.carousel-root {
  width: 65%;
  margin: 0 auto;
  margin-top: 35px;
}

.Btn-smarthP {
  flex-direction: column;
}
.Btn-s {
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  border-color: aliceblue;
  width: 150px;
  height: 40px;
}
.middle-content {
  margin: 0 auto;
}
