@media screen and (max-width: 900px) {
  .Btn-middle-1,
  .Btn-middle-2,
  .Btn-middle-3,
  .Btn-middle-4 {
    display: none;
  }
}

.carousel-root {
  width: 65%;
  margin: 0 auto;
  margin-top: 35px;
}

.Btn-middle-1,
.Btn-middle-2,
.Btn-middle-3,
.Btn-middle-4 {
  right: 38.5%;
  top: 90%;
}
.Btn-smarthP {
  flex-direction: column;

}
.Btn-s {
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  border-color: aliceblue;
  width: 150px;
  height: 40px;
}
.middle-content {
  margin: 0 auto;
}
